h2 Hi, click link below to confirm your email:
= link_to 'Confirm email', confirm_email_omniauth_url(email: @email, confirmation_token: @confirmation_token, uid: @uid, temp_email: @temp_email, provider: @provider)